QProgressBar {
    border: 12px, solid, #ffffff;
    height: 30;
    border-image: url(:/images/battery.png);
    text-align: center;
    color: rgb(255, 0, 255);
    font: 40px;
    border-radius: 10px;
}
QProgressBar::chunk {
    border-radius: 5px;
    border: 1px solid black;
    background-color: skyblue;
    width: 20px;
    margin: 2px;
}
